
*{
    box-sizing: border-box;
}

body{
    background-color: rgb(234, 246, 250);
    
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}

button#btn{
    background-color: rgb(168, 252, 255);
    color: black;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    position: fixed;
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.active{
    transform: translateX(-100px);
}

#btn{
    bottom: 50px;
    left: 35%;
}

.container-header{
    /* position: absolute; */
    top: 20px;
    right: 30px;
    height: 30vh;
    color: black;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    position: fixed;
    transition: transform 0.3s ease-in-out;
    list-style-type: none;
    background-color: aqua;
    transform: translateX(100%);

}

.sidebar{
    margin-bottom: 0px;
    background-color: rgb(168, 252, 255);
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease-in-out;
}

nav.active{
    transform: translateX(-100px);
    background-color: aqua;
    height: 30vh;
    transition: transform 0.3s ease-in-out;
}

nav a{
    text-decoration: none;
}

li{
    vertical-align: middle;
    align-items: center;
}

img{
    height: 30px;
    margin-top: 30px;
    margin-right: 8px;
    vertical-align: -10px;
}

#container-notification{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast{
    background-color: rgb(91, 62, 255);
    color: white;
    padding: 1 rem;
    border-radius: 5px;
    margin: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000
}

.titlecontainer{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
    
}

.titlename{
    font-size: 4rem;
}

.subtitle{
    font-size: 2rem;
    margin-top: 10px;
}

.row{
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 40px;
}

.textblock{
    flex: 1;
    min-width: 250px;
    max-width: 500px;
    text-align: left;
}

.profileimageblock img{
    max-width: 100%;
    height: auto;
    display: block ;
}

.paragraphbutton{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.about-me-button, .check-projects-button{
    background-color: rgb(168, 252, 255);
    color: black;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease-in-out;
}